.input {
  display: flex;
  margin-top: 5px;
}

.messages_list {
  overflow-y: auto;
  padding: 15px 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5833ff;
}