.message {
    border-radius: 10px;
    background-color: #5833ff;
    color: #fff;
    padding: 5px 15px 5px 10px;
    width: 45%;
    margin: auto 0 10px 0;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
}

.currentMessage {
    margin: 0 0 10px auto;
    background-color: #927aff;
}

.message p:last-child {
    color: #ffffff;
    text-align: right;
}

.currentMessage p:last-child {
    color: #fff;
    text-align: right;
}